.logo {
  height: 5rem;
  padding: 0 1rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2rem #646cffaa);
}
.logo.next:hover {
  filter: drop-shadow(0 0 2rem white);
}
.logo.moralis {
  height: 5.5rem;
}
.logo.moralis:hover {
  filter: drop-shadow(0 0 2rem #1df7f7);
}

.header {
  text-align: center;
}

.links {
  align-items: flex-end;
  display: flex;
  width: 100%;
  justify-content: center;
}
